
@page "/Employees/Employees"

    @*<link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet" />*@
    <link href="/css/Card.css" rel="stylesheet" />



<div class="component-section section" id="employee_List_Section">
    <div class="">

        <div class="row">
            <div class="col-md-12">
                <div class="navigation-otions" style="margin-bottom:30px">
                    <a class="btn" href="/Employees/AddEmployee">
                        <i class="fa fa-plus-circle"></i>
                        <span class="nav-text">
                            Add Employee
                        </span>
                    </a>
                </div>

            </div>
        </div>



        <div class="tab-content">
            <!-- Grid View -->
            <div class="" id="">
                <div class="row">


                    @foreach (var employee in employees)
                    {
                        <div class="col-md-4 col-xl-4 col-12">
                            <!-- Card Component -->
                            <div class="card info-card">
                                <!-- Card Header -->
                                <div class="header d-flex card-header">
                                    <a class="employee-type-image" href="javascript:void(0);">
                                        <img src="/Images/NoProfile.png" width="60" />
                                        @*<i class="fa fa-file-pdf-o" style="font-size: 60px; color: red;"></i>*@
                                    </a>
                                    <div class="card-subheader">
                                        <h6 class="employee-card-title">@employee.FirstName</h6>
                                        <p class="card-subtitle">

                                            @employee.Designation
                                        </p>
                                    </div>
                                    <div class="employee-short-options">
                                        @{
                                            var editLink = "Employees/EditEmployee?Id=" + employee.Id;
                                            var deleteLink = "Employees/DeleteEmployee?Id=" + employee.Id;
                                            <NavLink href="@editLink" class="btn">
                                                <i class="fa fa-pencil" style="font-size:20px;color:#adb5bd"></i>
                                            </NavLink>
                                            <NavLink  @onclick="(()=>DeleteEmployee(employee.Id))" class="btn">
                                                <i class="fa fa-trash" style="font-size:20px;color:#adb5bd"></i>
                                            </NavLink>
                                        }
                                        @*<a class="btn" asp-action="EditEmployee" asp-controller="Employees" asp-route-Id="@employee.Id"><i class="fa fa-pencil" style="font-size:20px;color:#adb5bd"></i></a>
                                        <a class="btn" asp-action="DeleteEmployee" asp-controller="Employees" asp-route-Id="@employee.Id"><i class="fa fa-trash" style="font-size:20px;color:#adb5bd"></i></a>*@
                                    </div>
                                    <div class="employee-options">

                                    </div>
                                </div>
                                <div class="employee-actions card-actions" style="display:none">
                                    <ul class="employee-action-list-group card-action-list-group">
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" asp-action="EditEmployee" asp-controller="Employees" asp-route-Id="@employee.Id"><span class="glyphicon glyphicon-eye-open"></span>Edit Employee</a></li>
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" asp-action="EditEmployee" asp-controller="Employee" asp-route-Id=""><span class="glyphicon glyphicon-eye-open"></span>Edit Employee</a></li>
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" href="#"><span class="glyphicon glyphicon-export"></span>Upload New Version</a></li>
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" href="#"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" href="#"><span class="glyphicon glyphicon-random"></span>Convert to PDF</a></li>
                                        <li class="employee-action-list card-action-list"><a class="employee-action-link card-action-link" href="#"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>

                                    </ul>
                                </div>

                                <!-- List Group Component -->
                                <ul class="list-group card-body card-body">
                                    <li class="list-employee-details card-list-prop-details">
                                        @*<i class="fa fa-file" aria-hidden="true"></i>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">Employee Id</label>
                                            <p class="pmd-list-title">@employee.EmployeeId&nbsp;</p>
                                        </div>
                                    </li>
                                    <li class="list-employee-details card-list-prop-details">
                                        @*<span class="glyphicon glyphicon-cd"></span>*@
                                        @*<i class="fa glyphicon-cd" aria-hidden="true"></i>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle mb-0">Phone</label>
                                            <p class="pmd-list-title">
                                                @(employee.Mobiles.Count > 0? employee.Mobiles[0].MobileNumber:"&nbsp")
                                            </p>


                                        </div>
                                    </li>
                                    <li class="list-employee-details card-list-prop-details">
                                        @*<span class="glyphicon glyphicon-calendar"></span>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">Date of Joining</label>
                                            <p class="pmd-list-title">
                                                @employee.DateofJoining &nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li class="list-employee-details card-list-prop-details">

                                        @*<span class="glyphicon glyphicon-list-alt"></span>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">Date of Birth</label>
                                            <p class="pmd-list-title">@employee.DateOfBirth.ToString("dd-MMM-yyyy")&nbsp;</p>
                                        </div>
                                    </li>

                                </ul>
                                <!-- List Group Component End -->
                                <!-- Card Footer -->
                                <div class="card-footer employee-card-border">
                                    @{
                                        var link = "/Employees/EmployeeDetails?Id=" + employee.Id;
                                     }
                                    <NavLink href="@link" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" title="View More" >view More</NavLink>
                                    @*<a title="View More"  asp-action="EmployeeDetails" asp-controller="Employees" asp-route-id="@employee.Id" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">View More</a>*@
                                </div>
                            </div>
                            <!-- Card Component End -->
                        </div>
                    }




                </div>
            </div>
            <!-- Grid View End -->
            <!-- List View Start -->
            <!-- List View End -->
        </div>
    </div>

</div>

