
@model Entities.ViewModels.UsersViewModel

<link href="~/css/Card.css" rel="stylesheet" />
<style>

    .card-subtitle {
        font-size: 13px;
        font-weight: 500;
        color: #adb5bd;
    }

    .user-card {
        border: 1px solid #3333;
        height: 200px;
        box-shadow: 0px 0px 2px 0px #3333;
        padding: 5px;
    }

    .users-container {
        margin: 10px;
    }


    .pmd-card .card-header.pmd-card-border {
        border-bottom: 1px solid rgba(23,31,35,.12);
        padding-bottom: 1.25rem;
        margin-bottom: 0;
    }

    .pmd-card-border {
        box-shadow: 0 2px 4px 0 rgba(23,31,35,.06);
        border-bottom: none !important;
        border-radius: 2px;
        position: relative;
    }


    .pmd-card .card-header.pmd-card-border {
        /* border-bottom: 1px solid rgba(23,31,35,.12); */
        /* padding-bottom: 1.25rem; */
        /* margin-bottom: 0; */
    }

    .info-card .pmd-card-border {
        box-shadow: 0 2px 4px 0 rgba(23,31,35,.06);
        border-bottom: none !important;
        border-radius: 2px;
        position: relative;
    }


    /* Style the side navigation */
    .sidenav {
        position: fixed;
        top: 0;
        bottom: 0;
        min-width: 260px;
        width: 260px;
        -ms-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -moz-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
        -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }

    /*sidebar-wrapper*/

    /* Style the content */

</style>
<style>

    /*card*/

    .list-user-details {
        position: relative;
        display: block;
        padding: 0px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        /* border: 1px solid #ddd; */
    }

        .list-user-details label {
            margin: 0px;
        }



        .list-user-details .fa-calendar, .list-user-details .fa-calendar-week, .list-user-details .fa-file, .list-user-details .glyphicon-cd, .list-user-details .glyphicon-calendar, .list-user-details .glyphicon-list-alt {
            font-size: 30px !important;
            color: #3333 !important;
            margin-right: 3rem !important;
        }

    .list-user-details {
        display: flex;
    }
</style>
<style>


    .user-actions {
        background: white;
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 40%;
        border: 1px solid #3333;
        transition: all .2s ease-in-out;
    }

        .user-actions .user-action-list-group {
            list-style: none;
            padding: 0px;
        }

        .user-actions .user-action-list {
            padding: .5rem 1rem;
        }

    a.user-action-link {
        /* width: 100%; */
        text-decoration: none;
    }

        a.user-action-link > .glyphicon {
            font-size: 20px !important;
            color: #3333 !important;
            margin-right: 2rem !important;
        }

    .navigation-otions {
        margin: 10px 0px;
    }
</style>





<div class="component-section section" id="user_List_Section">
    <div class="card">

        <div class="row">
            <div class="col-md-12">
                <div class="navigation-otions" style="margin-bottom:30px">
                    <a class="btn" asp-controller="Users" asp-action="AddUser">
                        <i class="fa fa-plus-circle"></i>
                        <span class="nav-text">
                            Add User
                        </span>
                    </a>
                </div>

            </div>
        </div>



        <div class="tab-content">
            <!-- Grid View -->
            <div class="" id="">
                <div class="row">


                    @foreach (var user in Model.Users)
                    {
                        <div class="col-md-4 col-xl-4 col-12">
                            <!-- Card Component -->
                            <div class="card info-card">
                                <!-- Card Header -->
                                <div class="header d-flex card-header">
                                    <a class="user-type-image" href="javascript:void(0);">
                                        <img src="~/Images/NoProfile.png" width="60" />
                                        @*<i class="fa fa-file-pdf-o" style="font-size: 60px; color: red;"></i>*@
                                    </a>
                                    <div class="card-subheader">
                                        <h6 class="user-card-title">@user.UserName</h6>
                                        <p class="card-subtitle">
                                           
                                            @foreach (var role in user.Roles)
                                            {
                                                <span>@role.RoleName&nbsp;</span>
                                            }
                                        <p>
                                    </div>
                                    <div class="user-short-options">
                                        <a class="btn" asp-action="EditUser" asp-controller="Users" asp-route-Id="@user.UserId"><i class="fa fa-pencil" style="font-size:20px;color:#adb5bd"></i></a>
                                        <a class="btn" asp-action="DeleteUser" asp-controller="Users" asp-route-Id="@user.UserId"><i class="fa fa-trash"  style="font-size:20px;color:#adb5bd"></i></a>
                                    </div>
                                    <div class="user-options">

                                    </div>
                                </div>
                                <div class="user-actions" style="display:none">
                                    <ul class="user-action-list-group">
                                        <li class="user-action-list"><a class="user-action-link" asp-action="EditUser" asp-controller="Users" asp-route-Id="@user.UserId"><span class="glyphicon glyphicon-eye-open"></span>Edit User</a></li>
                                        <li class="user-action-list"><a class="user-action-link" asp-action="EditUser" asp-controller="User" asp-route-Id=""><span class="glyphicon glyphicon-eye-open"></span>Edit User</a></li>
                                        <li class="user-action-list"><a class="user-action-link" href="#"><span class="glyphicon glyphicon-export"></span>Upload New Version</a></li>
                                        <li class="user-action-list"><a class="user-action-link" href="#"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                        <li class="user-action-list"><a class="user-action-link" href="#"><span class="glyphicon glyphicon-random"></span>Convert to PDF</a></li>
                                        <li class="user-action-list"><a class="user-action-link" href="#"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>

                                    </ul>
                                </div>

                                <!-- List Group Component -->
                                <ul class="list-group card-body card-body">
                                    <li class="list-user-details">
                                        @*<i class="fa fa-file" aria-hidden="true"></i>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">Name</label>
                                            <p class="pmd-list-title">@user.Name&nbsp;</p>
                                        </div>
                                    </li>
                                    <li class="list-user-details">
                                        @*<span class="glyphicon glyphicon-cd"></span>*@
                                        @*<i class="fa glyphicon-cd" aria-hidden="true"></i>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle mb-0">Phone</label>
                                            <p class="pmd-list-title">@user.Mobiles[0]?.MobileNumber&nbsp;</p>
                                        </div>
                                    </li>
                                    <li class="list-user-details">
                                        @*<span class="glyphicon glyphicon-calendar"></span>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">City</label>
                                            <p class="pmd-list-title">
                                                @user.City&nbsp;
                                            </p>
                                        </div>
                                    </li>
                                    <li class="list-user-details">

                                        @*<span class="glyphicon glyphicon-list-alt"></span>*@
                                        <div class="media-body">
                                            <label class="pmd-list-subtitle">Date of Birth</label>
                                            <p class="pmd-list-title">@user.DateOfBirth.ToString("dd-MMM-yyyy")&nbsp;</p>
                                        </div>
                                    </li>

                                </ul>
                                <!-- List Group Component End -->
                                <!-- Card Footer -->
                                <div class="card-footer user-card-border">
                                    <a title="View More" href="employee-detail.html" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">View More</a>
                                </div>
                            </div>
                            <!-- Card Component End -->
                        </div>
                    }




                </div>
            </div>
            <!-- Grid View End -->
            <!-- List View Start -->
            <!-- List View End -->
        </div>
    </div>

</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    
    $(function () {
        $(".user-options").click(function () {
            if ($(this).parent().next(".user-actions").is(":visible")) {
                $(this).parent().next(".user-actions").hide();
            }
            else {
                $(this).parent().next(".user-actions").show();
            }

        })
        $(".nav-item").click(function () {
            $(".section").hide();
            //if ($("#" + $(this).attr("targetid")).is(":visible")) {
            //    $("#" + $(this).attr("targetid")).hide();
            //}
            //else
            //{
            $("#" + $(this).attr("targetid")).show();
            // }
            //alert( $(this).attr("targetid"))
        })
    })
    function Show_Hide(e) {
        //alert($(e).attr("class"));
        //$(".section").hide();
        //if (($(e).is(":visible"))) {
        //    $("#" + $(e).attr("targetid")).hide();
        //}
        //else
        //{
        //    $("#" + $(e).attr("targetid")).show();
        //}


    }
</script>




